<h2>Payment Plan</h2> 
<div>
    <label id="mortgage-amount-label" >
        Mortgage Amount: <input type="text" [formControl]="mortgageAmount">
    </label>
</div>
<div>
    <label id="interest-rate-label" >
        Interest Rate: <input type="text" [formControl]="interestRate">
    </label>
</div>
<div>
    <label id="mortgage-amount-label" >
        Amortization Period: <input type="text" [formControl]="amortizationYears"> <input type="text" [formControl]="amortizationMonths">
    </label>
</div>
<div>
    <label id="mortgage-amount-label" >
        Payment Frequency: <input type="text" [formControl]="paymentFrequency">
    </label>
</div>
<div>
    <label id="term-label" >
        Term: <input type="text" [formControl]="term">
    </label>
</div>

<p>
    Value: {{ mortgageAmount.value }}
    {{ interestRate.value }}
    {{ amortizationYears.value }}
    {{ amortizationMonths.value }}
    {{ paymentFrequency.value }}
    {{ term.value }}
</p>
