.plan-title {
  font-size: 20px;
  font-weight: bold;
}
.p-fluid {
  border: 1px solid blue;
  height: 167px;
}
.right-container {
  margin: 0;
  border-radius: 3px;
  width: 45%;
  height: 100%;
  float: left;
  display: inline;
}
.p-field {
  padding: 0.5vw 0 0.5vw 0;
}

.pInputText {
  padding-right: 1vw;
  width: 750px;
}

.p-ml-2 {
  font-weight: bold;
  padding-left: 1vw;
}
