<h2>Prepayment Plan</h2>
<form [formGroup]="prePaymentForm">
<div>
    <label id="pre-payment-amount" >
        Prepayment Amount: <input type="number" formControlName="prePaymentAmount">
    </label>
</div>
<div>
    <label id="pre-payment-frequency" >
        Prepayment Frequency: <input type="string" formControlName="prePaymentFrequency">
    </label>
</div>
<div>
    <label id="start-with-payment" >
        Start With Payment: <input type="number" formControlName="startWithPayment">
    </label>
</div>
</form>
  <p>
    Prepayment Amount: {{ prePaymentForm.get('prePaymentAmount').value }}
    Prepayment Frequency: {{ prePaymentForm.get('prePaymentFrequency').value }}
    Start With Payment: {{ prePaymentForm.get('startWithPayment').value }}
  </p>