<div  *ngIf = "calculationSummary | async" >
<div class = "title"><h2>Calculation Summary</h2></div>
<div class= "summaryTable">
<table mat-table class="mat-elevation-z8">
  <tr>
    <th>Category</th>
    <th>Term</th>
    <th>Amortization</th>
  </tr>
  <tr>
    <td>Number of Payments</td>
    <td>{{(calculationSummary | async) ?.numberOfPayments}}</td>
    <td></td>
  </tr>
  <tr>
    <td>Mortgage Payment</td>
    <td>{{(calculationSummary | async) ?.mortgagePayment | currency: '$'}}</td>
    <td></td>
  </tr>
  <tr>
    <td>Interest Payments</td>
    <td>{{(calculationSummary | async) ?.interestPayment | currency: '$'}}</td>
    <td></td>
  </tr>
  
</table>
</div>
</div>